* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  font-weight: bold;
  padding: 0 8px;
  margin: 0;
  border: none;
  border-radius: 25px;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
}

/* Common styles for all modules */
#workspaces button, 
#cpu, 
#memory, 
#pulseaudio, 
#clock, 
#bluetooth, 
#network { 
  margin: 8px 4px;
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 25px;
  min-height: 28px;
  min-width: 20px;
  padding: 4px 8px;
  color: white;
}

/* Specific colors */
#cpu {
  color: red;
}

#memory {
  color: limegreen;
}

#pulseaudio {
  color: mediumorchid;
}

#bluetooth {
  color: dodgerblue;
}

#network {
  color: orange;
}

#clock {
  color: white;
}

#workspaces button {
  padding: 4px 8px;
}
